* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   background-color: rgb(17, 17, 33);
   color: white;
   overflow-x: hidden;
}

nav {
   background-color: rgb(24, 24, 34);
   color: white;
   display: flex;
}
nav img {
   width: 60px;
}
nav h1 {
   font-size: 20px;
}
.list-menu {
   margin: 0 auto;
   list-style: none;
   display: flex;
}
li {
   font-size: 15px;
   margin: 5px;
}
/*main*/
.img-sfondo {
   position: absolute;
   background-image: url(/public/logo192.png);
   background-repeat: no-repeat;
   width: 25vw;
   height: 35vh;
   right: 0%;
}
.main-div h2 {
   text-align: center;
   padding: 10px;
}
.main-div {
   margin-top: 10%;
}
.main-div ul {
   margin-left: 20px;
}
.main-div ul li::marker {
   font-size: 18px;
   color: rgb(16, 139, 184);
}
/*footer*/
footer {
   text-align: center;
   padding-top: 50vh;
}
