* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   background-color: rgb(17, 17, 33);
   color: white;
}
header {
}
nav {
   background-color: rgb(24, 24, 34);
   color: white;
   display: flex;
}
nav img {
   width: 60px;
}
nav h1 {
   font-size: 20px;
}
.list-menu.list-menu {
   margin: 0 auto;
   list-style: none;
   display: flex;
}
li {
   font-size: 15px;
   margin: 5px;
}
/*main*/
.main-div h2 {
    text-align: center;
    padding: 10px;
}
.main-div {
   margin-top: 10%;
}
.main-div ul{
    list-style: red;
}
.main-div ul li {
    
    font-size: 18px;
}
/*footer*/
footer{
    text-align: center;
   padding-top: 50vh;
}