* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.body {
font-family: 'Times New Roman', Times, serif;
}
.header-container {
   height: 95px;
   background-color: #99216f;
}
.header-container img{
    width: 70px;border-radius: 50%;
    
}

