@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap");

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: antiquewhite;
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
}
.nav-div {
   padding: 10px;
   display: flex;
   justify-content: space-between;
   background-color: #f55a5a;
   color: white;
}
.h2-nav {
   text-align: center;
   font-family: "Climate Crisis", cursive;
   letter-spacing: 2px;
}
.h6-nav {
   padding-top: 1.5rem;
}
.test-div {
   height: 250px;
}
.div-card {
   flex: 0 0 auto; /* ADD */
   display: flex; /* ADD */
   flex-direction: column; /* ADD */
   position: relative;
}

.picture {
   position: absolute;
   width: 125px;
   height: 168px;
   left: 40px;
   top: 100px;
   border-radius: 5px;
}
.card-title {
   position: absolute;
   width: 50%;
   height: 40px;
   left: 184px;
   top: 136px;
   color: #303133;
}
.card-content {
   position: absolute;
   width: 50%;
   height: 45px;
   left: 184px;
   top: 203px;
   font-size: 12px;
   line-height: 150%;
   /* or 15px */

   color: #2b283a;
}
